<fieldset>
  <legend>{{ title }}</legend>
  
  <div class='form-group'>
      <label for='investment-title'>Title</label><br>
      <input class='form-control' type='text' name='title' value='{{ investment.title }}'/>
  </div>
  
  <div class='form-group'>
    <label for='description'>Description</label><br>
    <input class='form-control' type='text' name='description' value='{{ investment.description }}' />
  </div>

  <div class='form-group'>
    <label for='amount'>Amount</label><br>
    <input class='form-control' value="{{ investment.amount }}" type='text' name='amount'/>
  </div>
</fieldset>
