{% extends 'base.html' %}

{% block content %}
<a href='/'>Back to investments</a>
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    <h2>{{ investment.title }}</h2>
    <p>{{ investment.description }}</p>
    <p>{{ investment.amount }}</p>
    <p>
      <a href='/investments/{{ investment._id }}/edit'>Edit</a>
    </p>
    <p>
      <form method='POST' action='/investments/{{ investment._id }}/delete'>
        <button type='submit'>Delete</button>
      </form>
    </p>
  </div>
</div>
{% endblock %}
